body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    text-align: center;
}
table {

    height: 50%;
    width: 50%
}

table, th, td {
    border: 2px solid lightslategray;
    margin-left: auto;
    margin-right: auto;  
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    background-color: grey;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
}

.hidden {
    display: absolute;
    background-color: black;
    border: 2px solid grey;
}

.cloned .hidden {
    display: absolute;
    background-color: black;
}

.marked {
    border: 2px solid lightslategray;
    display: absolute;
    background-color: rgb(0, 153, 255);
    color: rgb(0, 153, 255);
}

.cloned .marked {
    border: 2px solid lightslategray;
    display: absolute;
    background-color: rgb(0, 153, 255);
    color: rgb(0, 153, 255);
}

.menu, .timer, .submenu, .best {
    height: 30%;
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: gold;
}

.headline {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: gold;
}

.marked img {
        opacity: 0;
}

.hit {
    background-color: red;
}

button {
    background-color: transparent;
    color: gold;
    border: none;
    font-size: medium;
}

.popup, .popup2 {
    background-color: gold;
    text-align: center;
    position: relative;
    display: none;
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}